<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Livres</title>
    <link rel="stylesheet" href="/stylesheets/index-styles.min.css" />
    <link rel="manifest" href="/manifest.json">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" itemprop="description" content="<%= metas.short_desc %>">
    <meta itemprop="name" content="Découverto | Livres">
    <meta name="image" itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta name="og:title" content="Découverto | Livres">
    <meta name="og:description" content="<%= metas.short_desc %>">
    <meta name="og:url" content="https://decouverto.fr">
    <meta name="og:site_name" content="Découvero">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <header class="nav-container">
        <ul class="nav-absolute">
            <li><a href="/">Accueil</a></li>
            <li><a href="https://calendrier.decouverto.fr">Calendrier</a></li>
            <li><a href="#" class="active">Livres</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.lesbaladesdedecouverto" target="_blank">Application</a></li>
            <li><a href="https://boutique.decouverto.fr">Boutique</a></li>
            <li><a href="/rando/">Randonnées</a></li>
        </ul>
        <h1>Découverto</h1>
    </header>
    <section class="content">
        <img src="/images/livres.png" alt="Couvertures des livres" class="book-preview">
        <%- metas.books %>
        <h3>Points de vente</h3>
        <% for(var i=0; i<shops.length; i++) {%>
                <div class="card shops" id="<%= shops[i].id %>">
                  <h4 class="title"><%= shops[i].title %></h4>
                  <p><b>Adresse:</b> <%= shops[i].address %></p>
                  <p class="description"><%- shops[i].description %></p>
                  <a href="http://maps.google.com/?q=<%= shops[i].latitude %>,<%= shops[i].longitude %>" target="_blank" title="<%= shops[i].title %>">S'y rendre</a>
                </div>
        <% } %>
    </section>
    <%- include('includes/footer'); %>
</body>

</html>