<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Accueil</title>
    <link rel="stylesheet" href="/stylesheets/index-styles.css" />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="<%= metas.short_desc %>">
    <meta name="image" content="https://decouverto.fr/icons/512.png">
    <meta itemprop="name" content="Découverto | Accueil">
    <meta itemprop="description" content="<%= metas.short_desc %>">
    <meta itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta name="og:title" content="Découverto | Accueil">
    <meta name="og:description" content="<%= metas.short_desc %>">
    <meta name="og:url" content="https://decouverto.fr">
    <meta name="og:site_name" content="Découvero">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <header class="home">
        <div class="banner content">
            <div>
                <h1>Découverto</h1>
                <h2><%= metas.long_desc %></h2>
                <a href="https://play.google.com/store/apps/details?id=com.lesbaladesdedecouverto">
                    <img alt="Disponible sur Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/fr_badge_web_generic.png"
                        class="google-play-button" />
                </a>
            </div>
        </div>
    </header>

    <section class="content">
        <h2>Comment fonctionne l'application ?</h2>
        <div class="howto">
            <div class="howto-step"><%- metas.app_doc %></div>
            <div class="howto-step">
                <img src="/images/screenshot.png" alt="Capture d'écran">
            </div>
        </div>
        <h2>Les Balades</h2>
        <div class="filter-box">
            <div class="selector-group">
                <label for="sectors-input">Secteurs:</label>
                <select id="sectors-input">
                    <option value="all">Tous</option>
                </select>
            </div>
            <div class="selector-group">
                <label for="themes-input">Thèmes:</label>
                <select id="themes-input">
                    <option value="all">Tous</option>
                </select>
            </div>
            <div class="selector-group">
                <label for="types-input">Types:</label>
                <select id="types-input">
                    <option value="all">Tous</option>
                </select>
            </div>
            <div class="search-group">
                <label for="search-input">Recherche:</label>
                <input type="text" id="search-input" placeholder="Recherche" class="search-input">
            </div>
        </div>
        <% for(var i=0; i<walks.length; i++) {%>
                <div class="card walks" id="<%= walks[i].id %>">
                  <h4 class="title"><%= walks[i].title %></h4>
                  <p><b>Kilomérage:</b> <%= (walks[i].distance/1000).toFixed(1) %>km</p>
                  <p><b>Type de balade:</b> <span class="type"><%if (walks[i].fromBook == "true") { %>Tracet uniquement<% } else { %>Balade commentée<% } %></span></p>
                  <p><b>Secteur:</b> <span class="zone"><%=walks[i].zone%></span></p>
                  <p><b>Thème:</b> <span class="theme"><%=walks[i].theme%></span></p>
                  <p class="description"><%= walks[i].description %></p>
                  <a href="/preview/<%= walks[i].id %>">Aperçu</a>
                </div>
        <% } %>
    </section>
    <%- include('includes/footer'); %>
    <script type="text/javascript" src="/javascripts/index/build.js"></script>
</body>
</html>
