<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Accueil</title>
    <link rel="stylesheet" href="/stylesheets/index-styles.min.css" />
    <link rel="manifest" href="/manifest.json">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" itemprop="description" content="<%= metas.short_desc %>">
    <meta name="image" itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta itemprop="name"  content="Découverto | Accueil">
    <meta name="og:title" content="Découverto | Accueil">
    <meta name="og:description" content="<%= metas.short_desc %>">
    <meta name="og:url" content="https://decouverto.fr">
    <meta name="og:site_name" content="Découverto">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <ul class="nav">
        <li><a id="go-to-home" class="active">Accueil</a></li>
        <li><a href="https://calendrier.decouverto.fr">Calendrier</a></li>
        <li><a href="/livres/">Livres</a></li>
        <li><a href="https://app.decouverto.fr" target="_blank">Application</a></li>
        <li><a href="https://podcast.decouverto.fr">Podcasts</a></li>
        <li><a id="go-to-walks">Randonnées</a></li>
    </ul>
    <header class="home">
        <div class="content">
            <h1>Découverto</h1>
            <h2><%= metas.long_desc %></h2>
            <div>
                <a href="https://app.decouverto.fr" class="big-btn">Télécharger l'application</a>
                <a href="/livres" class="big-btn">Points de vente des livres</a>
            </div>
        </div>
    </header>
    <section class="second-header">
        <div class="content">
            <p>Afin de partager nos connaissances, nous mettons à disposition nos anciennes conférences et divers documents.</p>
            <a href="//documents.decouverto.fr" target="_blank" class="btn">Accéder aux documents</a>
        </div>
    </section>
    <section class="content">
        <h2>Comment fonctionne l'application ?</h2>
        <div class="howto">
            <div class="howto-step">
                <p>Nous proposons une <b>application d'audioguide forestier</b>. Plus de <%= walks_number %> balades sont disponibles à ce jour ! Pour en profiter:</p>
                <ol>
                    <li><b><a href="https://app.decouverto.fr/">Téléchargez l'application</a></b></li>
                    <li><b>Sélectionnez une randonnée et téléchargez la</b></li>
                    <li><b>Rendez-vous au point de départ</b> à l'aide du bouton prévu à cet effet</li>
                    <li><b>Commencez la balade</b> en appuyant sur le bouton "Démarrer la promenade"</li>
                    <li>Libre à vous d'écouter les explications audio qui apparaissent sur le parcours</li>
                </ol>
                <p>Nous attirons votre attention quant au fait que cette application n'est qu'une aide à la randonnée. En utilisant cette application vous vous engagez à jamais rechercher de responsabilité auprès de l'association Découverto en cas de problème, d'incident, d'accident ou même si vous vous perdez.</p>
                <a href="/documentation-installation/" target="_blank" class="btn">Plus de détails sur l'installation</a>
                <p>Pour chercher de manière intuitive une randonnée nous mettons à disposition une carte:</p>
                <a href="//ta-rando.decouverto.fr" target="_blank" class="btn">Cartes des balades</a>
            </div>
            <div class="howto-step">
                <img id="img">
                <div class="loader" id="img-loader"></div>
            </div>
        </div>
        <% if(selected_walks.length){ %>
        <h2 id="walks-title">Nos balades favorites</h2>
        <div class="highlighted-cards">
            <% for(var i=0; i<selected_walks.length; i++) {%>
                <div class="card">
                  <h4 class="title"><%= selected_walks[i].title %></h4>
                  <p><b>Kilométrage:</b> <%= (selected_walks[i].distance/1000).toFixed(1) %>km</p>
                  <p><b>Secteur:</b> <span class="zone"><%=selected_walks[i].zone%></span></p>
                  <p><b>Thème:</b> <span class="theme"><%=selected_walks[i].theme%></span></p>
                  <a href="/rando/<%= selected_walks[i].id %>" target="_blank">Aperçu</a>
                </div>
            <% } %>
        </div>
        <% } %>
        <h2 id="walks-title">Dernières balades publiées</h2>
        <div class="last-cards">
            <% for(var i=0; i<walks.length; i++) {%>
                <div class="card">
                  <h4 class="title"><%= walks[i].title %></h4>
                  <p><b>Kilométrage:</b> <%= (walks[i].distance/1000).toFixed(1) %>km</p>
                  <p><b>Type de balade:</b> <span class="type"><%if (walks[i].fromBook == "true") { %>Tracé uniquement<% } else { %>Balade commentée<% } %></span></p>
                  <p><b>Secteur:</b> <span class="zone"><%=walks[i].zone%></span></p>
                  <p><b>Thème:</b> <span class="theme"><%=walks[i].theme%></span></p>
                  <a href="/rando/<%= walks[i].id %>" target="_blank">Aperçu</a>
                </div>
            <% } %>
        </div>
        <h2>Toutes nos balades</h2>
        <div class="card card-blue">
            Pour chercher de manière intuitive une randonnée nous mettons à disposition une carte: <a href="//ta-rando.decouverto.fr" target="_blank">Trouve ta rando</a>
        </div>
        <div class="filter-box">
            <div class="selector-group">
                <label for="sectors-input">Secteurs:</label>
                <select id="sectors-input">
                    <option value="all">Tous</option>
                </select>
            </div>
            <div class="selector-group">
                <label for="themes-input">Thèmes:</label>
                <select id="themes-input">
                    <option value="all">Tous</option>
                </select>
            </div>
            <div class="selector-group">
                <label for="types-input">Types:</label>
                <select id="types-input">
                    <option value="all">Tous</option>
                </select>
            </div>
            <div class="search-group">
                <label for="search-input">Recherche:</label>
                <input type="text" id="search-input" placeholder="Recherche" class="search-input">
            </div>
        </div>
        <div id="walks-container"></div>
        <div id="loading-walks">
            <p>Chargement des randonnées...<br> Veuillez patienter... <br><br>En cas d'erreur, rendez-vous <a href="/rando/" target="_blank">ici</a>.</p>
            <div class="loader" id="walk-loader"></div>
        </div>
    </section>
    <%- include('includes/footer'); %>
    <script type="text/javascript" src="/javascripts/index/build.js"></script>
</body>
</html>
