<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Découverto | <%= walk.title %></title>
    <link rel="stylesheet" href="/stylesheets/index-styles.min.css" />
    <link rel="manifest" href="/manifest.json">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/ol.css" type="text/css">
    <meta charset="utf-8">
    <meta name="description" itemprop="description"  content="<%= walk.description %>">
    <meta name="image" itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta itemprop="name" content="Découverto | <%= walk.title %>">
    <meta name="og:title" content="Découverto | <%= walk.title %>">
    <meta name="og:description" content="<%= walk.description %>">
    <meta name="og:url" content="https://decouverto.fr/rando/<%=walk.id%>">
    <meta name="og:site_name" content="Découverto">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>

<body>
    <header class="nav-container">
        <ul class="nav-absolute">
            <li><a href="/">Accueil</a></li>
            <li><a href="https://calendrier.decouverto.fr">Calendrier</a></li>
            <li><a href="/livres/">Livres</a></li>
            <li><a href="https://app.decouverto.fr" target="_blank">Application</a></li>
            <li><a href="https://boutique.decouverto.fr">Boutique</a></li>
            <li><a href="/rando/">Randonnées</a></li>
        </ul>
        <h1>Découverto</h1>
    </header>
    <section class="content">
            <div class="card">
                <h2><%= walk.title %></h2>
                <p><b>Kilométrage:</b>   <%= (walk.distance/1000).toFixed(1) %>km</p>
                <p><b>Type de balade:</b> <%if (walk.fromBook == "true") { %>Tracé uniquement<% } else { %>Balade commentée<% } %></p>
                <p><b>Secteur:</b> <a class="categories-link" href="/secteur/<%=walk.sectorLink%>"><%=walk.zone%></a></p>
                <p><b>Thème:</b> <a class="categories-link" href="/theme/<%=walk.themeLink%>"><%=walk.theme%></a></p>
                <p class="description"><%= walk.description %></p>
                <%if (decompressedFile) { %>
                    <a href="http://maps.google.com/?q=<%= decompressedFile.points[0].coords.latitude %>,<%= decompressedFile.points[0].coords.longitude %>" target="_blank" title="Point de départ">S'y rendre</a>
                <% } %>
                <a href="decouverto://decouverto/rando/<%=walk.id%>" title="Ouvrir dans l'application">Ouvrir dans l'application</a>
                <a href="https://cartes.decouverto.fr/#rando=<%=walk.id%>" target="_blank">Cartes IGN</a>
            </div>
            <%if (decompressedFile) { %>
                <h3>Carte</h3>
                <div id="map" class="map"></div>
                <a href="/rando/<%= walk.id %>/ign">Fond de carte IGN</a>
                <noscript>Vous devez activer l'utilisation du Javascript afin de pouvoir voir la carte.</noscript>  
                <h3>Points d'interêt</h3>
                <% for(var i=0; i<decompressedFile.points.length; i++) {%>
                    <div class="card">
                      <h4><%= decompressedFile.points[i].title %></h4>
                      <audio src="/walks/<%= walk.id %>/sounds/<%= decompressedFile.points[i].sound %>" preload="none" type="audio/mpeg" controls="controls"></audio>
                      <%if (decompressedFile.points[i].images.length > 0) { %>
                        <a id="<%= i %>-images-btn" onclick="showImage(<%= i %>)"><%if (decompressedFile.points[i].images.length > 1) {%>Afficher les illustrations<% } else { %>Afficher l'illustration<% } %></a>
                        <div id="<%= i %>-images">
                                <% for(var j=0; j<decompressedFile.points[i].images.length; j++) {%>
                                        <img data-src="/walks/<%= walk.id %>/images/<%= decompressedFile.points[i].images[j].path %>">
                                <% } %>
                        </div>
                      <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <p>Impossible de génerer un aperçu.</p>
            <% } %>
            <div class="presentation">
                <h3>Qu'est-ce que Découverto ?</h3>
                <p>Découverto est une association qui propose <a href="/">une application pour randonner</a>. Découverto vous accompagne avec des explications audio tout au long de votre randonnée.</p>
                <p>Nous proposons également des <a href="/livres/">livres de randonnées</a></a>.</p>
            </div>
    </section>
    <%- include('includes/footer'); %>
    <script src="/javascripts/preview/ol.js"></script>
    <script src="/javascripts/preview/build.js"></script>
</body>
</html>