<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Découverto | <%= walk.title %></title>
    <link rel="stylesheet" href="/stylesheets/index-styles.css" />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/ol.css" type="text/css">
</head>

<body>
    <header class="preview">
        <h1>Découverto</h1>
        <a href="/">Acceuil</a>
    </header>

    <section class="content">
            <div class="card">
                <h2><%= walk.title %></h2>
                <p><b>Kilomérage:</b>   <%= (walk.distance/1000).toFixed(1) %>km</p>
                <p><b>Type de balade:</b> <%if (walk.fromBook == "true") { %>Tracet uniquement<% } else { %>Balade commentée<% } %></p>
                <p><b>Secteur:</b> <%=walk.zone%></p>
                <p class="description"><%= walk.description %></p>
                <%if (decompressedFile) { %>
                  <a href="http://maps.google.com/?q=<%= decompressedFile.points[0].coords.latitude %>,<%= decompressedFile.points[0].coords.longitude %>" title="Point de départ">S'y rendre</a>
                <% } %>
            </div>
            <%if (decompressedFile) { %>
                <h3>Carte</h3>
                <div id="map" class="map"></div>
                <noscript>Vous devez activer l'utilisation du Javascript afin de pouvoir voir la carte.</noscript>  
                <h3>Points d'interêt</h3>
                <% for(var i=0; i<decompressedFile.points.length; i++) {%>
                    <div class="card">
                      <h4><%= decompressedFile.points[i].title %></h4>
                      <audio src="/walks/<%= walk.id %>/sounds/<%= decompressedFile.points[i].sound %>" preload="none" type="audio/mpeg" controls="controls"></audio>
                      <%if (decompressedFile.points[i].images.length > 0) { %>
                        <a id="<%= i %>-images-btn" onclick="showImage(<%= i %>)"><%if (decompressedFile.points[i].images.length > 1) {%>Afficher les illustrations<% } else { %>Afficher l'illustration<% } %></a>
                        <div id="<%= i %>-images">
                                <% for(var j=0; j<decompressedFile.points[i].images.length; j++) {%>
                                        <img data-src="/walks/<%= walk.id %>/images/<%= decompressedFile.points[i].images[j].path %>" style="max-height: 500px">
                                <% } %>
                        </div>
                      <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <p>Impossible de génerer un aperçu.</p>
            <% } %>
    </section>
    <footer>

        <div class="nav-container">
            <div class="flex content">
                <div class="col">
                    <h6>Les Balades de Découverto</h6>
                    <img src="/icons/144.png" class="logo" alt="Les Balades de Découvertone">
                    <br> Webmaster:
                    <a href="https://cedced19.github.io/fr/">Cédric JUNG</a>
                </div>
                <div class="col">
                    <h6>Mentions légales</h6>
                    <%- include('includes/mentions'); %>
                </div>
                <nav>
                    <h6>Liens utiles</h6>
                    <a href="https://www.facebook.com/decouverto/">Facebook</a>
                    <a href="/admin/login">Administration</a>
                </nav>
            </div>
    </footer>
    <div class="cookies-warning">En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour réaliser des statistiques de visites.</div>
    <script src="/javascripts/preview/ol.js"></script>
    <script type="text/javascript" src="/javascripts/preview/build.js"></script>
</body>
</html>